<div class="listing-filters">
  <div class="filters-heading">
    <i class="fa fa-sliders" aria-hidden="true"></i> Filters
  </div>
  <strong>Search</strong>
  <div class="filter-search">
    <input type="search" placeholder="Search for a car...">
  </div>
  <div class="ui vertical accordion">
    <div class="item">
      <a class="title">
        <i class="dropdown icon"></i>
        Brand
      </a>
      <div class="content">
      <div class="filter-section">
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>Mercedes (10)</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>Porsche (11)</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>Toyota (8)</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>Tesla (1)</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>Peugeot (2)</label>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <a class="title">
        <i class="dropdown icon"></i>
        Models
      </a>
      <div class="content">
        <div class="filter-section">
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>Prius</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>Polo</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>Model 3</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>Model S</label>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <a class="title">
        <i class="dropdown icon"></i>
        Price
      </a>
      <div class="content">
        <div class="filter-section">
          FROM ... TO
        </div>
      </div>
    </div>
    <div class="item">
      <a class="title">
        <i class="dropdown icon"></i>
        Location
      </a>
      <div class="content">
        <div class="filter-section">
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>Vienna</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>Brussels</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>London</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>Bangkok</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="light-grey-bg listings-entries">
  <% @listings.each do |listing| %>

    <div class="listing-card">
      <%= cl_image_tag(listing.photos.first.path, width: 300, height: 200, crop:"fill", class: "listing-picture") %>
      <div class="listing-details">
        <h2><%= link_to listing.title, listing_path(listing) %></h2>
        <h3><%= listing.price %> €</h3>
        <i class="fa fa-map-marker" aria-hidden="true"></i> <%= listing.city %> <i class="fa fa-tachometer" aria-hidden="true"></i> <%= listing.mileage %> <i class="fa fa-calendar" aria-hidden="true"></i> <%= listing.year %>
        <p>
          <%= truncate(listing.description, :length => 500) %>
        </p>
      </div>
      <div class="listing-actions">
        <div class="edit-actions">
          <% if current_user == listing.user %>
            <%= link_to edit_listing_path(listing), class: "ui icon button" do %>
              <i class="delete icon"></i>
            <% end %>
            <%= link_to listing_path(listing), method: :delete, data: { confirm: "Are you sure?" }, class: "ui icon delete-icon button" do %>
              <i class="edit icon"></i>
            <% end %>
          <% end %>
        </div>
        <div class="primary-action-button">
         <button class="ui primary basic button">Contact Seller</button>
          <button class="ui icon button">
            <i class="heart icon"></i>
          </button>
        </div>
      </div>
    </div>
  <% end %>

  <%= link_to "Add new listing", new_listing_path %>
</div>

<script type="text/javascript">
  $('.ui.accordion').accordion({
    exclusive: false
  })
;
</script>

