<div class="listing-filters">
  <div class="filters-heading">
    <i class="fa fa-sliders" aria-hidden="true"></i> Filters
  </div>
  <div class="ui vertical accordion">
    <form action="/listings" name="search-bar">
      <div class="filter-dropdowns">

        <select name="brand" class="ui search dropdown" id="brand">
          <option value="">Brand</option>
          <% @car_hash.each do |brand, models| %>
          <option value="<%= brand %>"><%= brand %></option>
          <% end %>
        </select>

        <select name="model" class="ui search dropdown" id="model">
          <option value="">Model</option>
        </select>

        <select name="min_price" class="ui search dropdown">
          <option value="">Min price</option>
          <option value="0">0</option>
          <option value="5000">10000</option>
          <option value="50000">50000</option>
          <option value="100000">100000</option>
        </select>
        <select name="max_price" class="ui search dropdown">
          <option value="">Max price</option>
          <option value="5000">5000</option>
          <option value="10000">10000</option>
          <option value="50000">50000</option>
          <option value="100000">100000</option>
        </select>
      </div>
    <div class="ui primary big animated button" tabindex="0" style="margin-top:40px;" onClick="document.forms['search-bar'].submit();">
      <div class="hidden content"><i class="fa fa-car" aria-hidden="true"></i></div>
      <div class="visible content">
        Search again!
      </div>
    </div>
</form>
</div>
</div>

<div class="light-grey-bg listings-entries">
  <% @listings.each do |listing| %>
    <div class="listing-card">
      <%= cl_image_tag(listing.photos.first.path, width: 300, height: 200, crop:"fill", class: "listing-picture") %>
      <div class="listing-details">
        <h2><%= link_to listing.title, listing_path(listing) %></h2>
        <h3><%= listing.price %> €</h3>
        <i class="fa fa-map-marker" aria-hidden="true"></i> <%= listing.city %> <i class="fa fa-tachometer" aria-hidden="true"></i> <%= listing.mileage %> <i class="fa fa-calendar" aria-hidden="true"></i> <%= listing.year %>
        <p>
          <%= truncate(listing.description, :length => 500) %>
        </p>
      </div>
      <div class="listing-actions">
        <div class="edit-actions">
          <% if current_user == listing.user %>
            <%= link_to edit_listing_path(listing), class: "ui icon button" do %>
              <i class="delete icon"></i>
            <% end %>
            <%= link_to listing_path(listing), method: :delete, data: { confirm: "Are you sure?" }, class: "ui icon delete-icon button" do %>
              <i class="edit icon"></i>
            <% end %>
          <% end %>
        </div>
        <div class="primary-action-button">
         <button class="ui primary basic button anim-trigger">Contact Seller</button>
          <% if is_favorite?(listing) %>
            <% favorite = Favorite.where(user_id: current_user, listing_id: listing).first %>
            <%= link_to listing_favorite_path(listing, favorite), method: :delete, remote: true do %>
                <button class="ui icon button" id="listing-<%= listing.id %>">
                  <i class="red heart icon"></i>
                </button>
              <%end%>
          <% else %>
            <%= link_to listing_favorites_path(listing), method: :post, remote: true do %>
              <button class="ui icon button" id="listing-<%= listing.id %>">
                <i class="heart icon heart-anim-trigger"></i>
              </button>
            <%end%>
            <%= link_to listing_path(listing), method: :delete, remote: true do %>
              <button class="ui icon button" id="listing-<%= listing.id %>-hidden" style="display:none;">
                <i class="red heart icon"></i>
              </button>
            <%end%>
          <% end %>
        </div>
      </div>
  </div>
</div>
<% end %>

<%= link_to "Add new listing", new_listing_path %>
</div>

<script type="text/javascript">
  $('.ui.accordion').accordion({
    exclusive: false
  })
  ;
</script>

<script type="text/javascript">
  $(".heart-anim-trigger").click(function(){
    $(".listings-entries").append('<div class="heart-anim"></div>')
    $(".heart-anim").append('<div class="heart-wrapper active"><div class="heart"><div class="tl"></div><div class="tr"></div><div class="bl"></div><div class="br"></div></div><div class="ring"></div><div class="circles"></div></div>').delay(2000).fadeOut();
    setTimeout(function() {
      $('.heart-anim').remove();
    }, 2500);;
    var h = document.querySelector('.heart-wrapper');

    function toggleActivate(){
      h.classList.toggle('active');
    }

    if(!debug){
      h.addEventListener('click',function(){
        toggleActivate();
      },false);

    // setInterval(toggleActivate,1000);
  }else{
    var elts = Array.prototype.slice.call(h.querySelectorAll(':scope > *'),0);
    var activated = false;
    var animating = false;
    var count = 0;
    var step = 1000;

    function setAnim(state){
      elts.forEach(function(elt){
        elt.style.animationPlayState = state;
      });
    }

    h.addEventListener('click',function(){
      if (animating) return;
      if (count > 27) {
        h.classList.remove('active');
        count = 0;
        return;
      }
      if (!activated) h.classList.add('active') && (activated = true);

      console.log('Step : '+(++count));
      animating = true;

      setAnim('running');
      setTimeout(function(){
        setAnim('paused');
        animating = false;
      },step);
    },false);

    setAnim('paused');
    elts.forEach(function(elt){
      elt.style.animationDuration = step/1000*27+'s';
    });
  }

});

</script>


<script>
  $('.ui.dropdown').dropdown();
</script>


<script type="text/javascript">
  $(document).ready(function() {

    $("#brand").change(function() {

      var el = $(this) ;
      // console.log(el);


      <% @car_hash.each do |brand, models| %>
      if(el.val() === '<%= brand %>') {
        $("#model option").remove();
        <% models.each do |model| %>
        $("#model").append(" <option value='<%= model %>'><%= model %></option>");
        <% end %>
      }
      <% end %>

      else if(el.val() === "" ) {
        $("#model option").remove();
      }
    });
  });
</script>
