<ul>
  <% @listings.each do |listing| %>
    <li>
    <h3><%= link_to listing.title, listing_path(listing) %></h3>
    <%#= cl_image_tag listing.photos.first.path, width: 300 %>
    <p>Price: <%= listing.price %></p>
    <p>Brand: <%= listing.brand %></p>
    <p>Model: <%= listing.model %></p>
    <p>Mileage: <%= listing.mileage %></p>
    <p>Year: <%= listing.year %></p>
    <p>City: <%= listing.city %></p>
    <p><%= link_to "Edit", edit_listing_path(listing) %> -
      <%= link_to "Delete", listing_path(listing),
      method: :delete,
      data: { confirm: "Are you sure?" } %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Add new listing", new_listing_path %>
