<div class="listing-page">
  <div class="banner" style="background-image:linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url('<%= @listing.photos.first.fullpath %>')">
    <div class="banner-content">
    <div class="go-back">
      <%= link_to listings_path  + '?' + @query_string do %>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Go back to all listings
      <% end %>
    </div>
      <h1><%= @listing.title %></h1>

    </div>
  </div>
  <div class="ui container">
    <h2 class="section-title">Details</h2>

    <h2><%= @listing.title %></h2>
    <% @listing.photos.each do |photo| %>
    <%= cl_image_tag photo.path, width: 300 %>
    <% end %>
    <table class="ui celled table">
        <tbody>
          <tr>
            <td>
                <strong>Brand:</strong>
            </td>
            <td><%= @listing.brand.name %></td>
          </tr>
          <tr>
            <td><strong>Model:</strong></td>
            <td><%= @listing.brand_model.name %></td>
          </tr>
          <tr>
            <td><strong>Mileage:</strong></td>
            <td><%= @listing.mileage %></td>
          </tr>
          <tr>
            <td><strong>Price:</strong></td>
            <td><%= @listing.price %></td>
          </tr>
          <tr>
            <td><strong>Condition:</strong></td>
            <td><%= @listing.condition %></td>
          </tr>
          <tr>
            <td><strong>Origin:</strong></td>
            <td><%= @listing.origin %></td>
          </tr>
          <tr>
            <td><strong>Seller:</strong></td>
            <td><%= @listing.user.first_name %> <%= @listing.user.last_name %></td>
          </tr>
        </tbody>
      </table>

  <div style="margin-bottom:30px">
    <%= link_to "Delete", listing_path(@listing),
    method: :delete,
    data: { confirm: "Are you sure?" }, class: "ui low-opacity button" %>
    <%= link_to "Edit", edit_listing_path(@listing), class: "ui low-opacity button" %>
  </div>

  <% if @requested %>
    <div style = "margin-bottom:30px" class = "ui message olive">  You have already requested this car! </div>
  <% else %>
  <div style = "margin-bottom:30px" id="request">
    <%= simple_form_for([ @listing, @request ], remote: true) do |f| %>
    <%= f.input :comment %>
    <%= f.button :submit %>
    <% end %>
  </div>
    <% end %>
</div>

</div>
