<h1>Here are your listings</h1>

<ul>
  <% @listings.each do |listing| %>
  <li>
    <h2>
      <%= listing.brand %>
      <%= listing.model %>
    </h2>
    <p>Number of requests for this car: <strong><%= listing.requests.count %></strong>  </p>
    <%= link_to 'details', listing_path(listing), class: 'ui yellow button' %>
    <%= link_to 'See the request for this car', listing_requests_path(listing), class: 'ui green button'%>
  </li>
  <% end %>
</ul>
