<div class="banner" style="background-image:linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url('https://images.unsplash.com/photo-1452399143781-59763f14edb0?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb')">
  <div class="banner-content">
    <h1>Find a new car!</h1>

    <div class="vehicle-filters">
      <div class="vehecle-type-selector">
        <button class="ui yellow icon button">
          <i class="fa fa-car"></i>
        </button>
        <button class="ui icon button">
          <i class="fa fa-motorcycle"></i>
        </button>
      </div>
      <!-- start -->
      <form action="/listings" name="search-bar">
        <div class="filter-dropdowns">

          <select name="brand" class="ui search dropdown" id="brand">
            <option value="">Brand</option>
            <% @car_hash.each do |brand, models| %>
              <option value="<%= brand %>"><%= brand %></option>
            <% end %>
          </select>

          <select name="model" class="ui search dropdown" id="model">
            <option value="">Model</option>
          </select>

          <select name="min_price" class="ui search dropdown">
            <option value="">Min price</option>
            <option value="0">0</option>
            <option value="5000">10000</option>
            <option value="50000">50000</option>
            <option value="100000">100000</option>
          </select>
          <select name="max_price" class="ui search dropdown">
            <option value="">Max price</option>
            <option value="5000">5000</option>
            <option value="10000">10000</option>
            <option value="50000">50000</option>
            <option value="100000">100000</option>
          </select>
        </div>
      </div>
      <div class="ui primary big animated button" tabindex="0" onClick="document.forms['search-bar'].submit();">
        <div class="hidden content"><i class="fa fa-car" aria-hidden="true"></i></div>
        <div class="visible content">
          Let's go!
        </div>
      </div>
    </div>
  </div>
</form>
<!-- end -->


<div class="ui container" id="car-overview">
  <h1 class="section-title">Popular Cars</h1>

  <div class="ui three column grid">
    <div class="column">
      <%= render 'layouts/card' %>
    </div>
    <div class="column">
      <%= render 'layouts/card' %>
    </div>
    <div class="column">
      <%= render 'layouts/card' %>
    </div>
    <div class="column">
      <%= render 'layouts/card' %>
    </div>
    <div class="column">
      <%= render 'layouts/card' %>
    </div>
    <div class="column">
      <%= render 'layouts/card' %>
    </div>
  </div>

</div>
<div class="ui container" id="featured-dealers">
  <h1 class="section-title">Featured Dealers</h1>
  <div class="ui six column grid">
    <div class="column">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/83/90/0a/83900a5b6d403ddbfd4e843ea70828f4.jpg" class="dealer-logo">
    </div>
    <div class="column">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/83/90/0a/83900a5b6d403ddbfd4e843ea70828f4.jpg" class="dealer-logo">
    </div>
    <div class="column">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/83/90/0a/83900a5b6d403ddbfd4e843ea70828f4.jpg" class="dealer-logo">
    </div>
    <div class="column">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/83/90/0a/83900a5b6d403ddbfd4e843ea70828f4.jpg" class="dealer-logo">
    </div>
    <div class="column">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/83/90/0a/83900a5b6d403ddbfd4e843ea70828f4.jpg" class="dealer-logo">
    </div>
    <div class="column">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/83/90/0a/83900a5b6d403ddbfd4e843ea70828f4.jpg" class="dealer-logo">
    </div>
  </div>
</div>

<%=  current_user.best_listings %>

<script>
  $('.ui.dropdown').dropdown();
</script>

<script type="text/javascript">
  $('#brand-dropdown').dropdown();
  $('#model-dropdown').dropdown();
  $('#from-dropdown').dropdown();
  $('#to-dropdown').dropdown();
  $('#location-dropdown').dropdown();
</script>


<script type="text/javascript">
  $(document).ready(function() {

    $("#brand").change(function() {

      var el = $(this) ;
      // console.log(el);


      <% @car_hash.each do |brand, models| %>
      if(el.val() === '<%= brand %>') {
        $("#model option").remove();
        <% models.each do |model| %>
        $("#model").append(" <option value='<%= model %>'><%= model %></option>");
        <% end %>
      }
      <% end %>

      else if(el.val() === "" ) {
        $("#model option").remove();
      }
    });
  });
</script>
